.schedule {
  max-width: 1200px;
  min-height: 400px;
  margin: 0;
  background: white;
  overflow: hidden;
}
.hd {
  padding: 18px;
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
}
td {
  padding: 14px 18px;
  border-bottom: 1px solid #eee;
  font-size: 1.1em;
}
.day {
  font-size: 1rem;
  width: 40%;
  background: #ffffff;
}
.time {
  font-size: 1rem;
  text-align: right;
  color: #2c3e50;
}
.weekend {
  text-align: right;
  background: #ffebee;
  color: #c62828;
  font-weight: bold;
}
.ft {
  padding: 14px;
  text-align: center;
  font-size: 0.9em;
  color: #8f2929;
}
